*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    width: 100vw;
    padding: 20px 0px;
    background-color: rgb(21, 21, 90);
    text-align: center;
    color: white;
    position: fixed;
    top: 0;
    z-index: 10;
}
.container{
    width: 100vw;
    height: 90vh;
    display: flex;
    position: relative;
    top: 68px;
}
.sidebar{
    position: fixed;
    background-color: rgb(148, 148, 201);
    width: 24%;
    height: 100%;
    padding: 20px;
}
ul{
    list-style: none;
}
ul li{
    margin: 10px;
    cursor: pointer;
}

.main-Content{
    width: 76%;
    position: relative;
    left: 24%;
    background-color: rgb(172, 184, 196);
    height: 100vh;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Content{
    border: 1px solid slategray;
    background-color: white;
    width: 96%;
    position: relative;
    height: 100%;
    padding: 20px;
}
.content-title{
    color: blue;
    text-align: center;
}
.btn{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
}