* {
  margin: 0;
  padding: 0;
  font-family: serif;
  color: white;
  box-sizing: border-box;
}
body {
  background-color: rgb(17, 20, 49);
}
.common-m {
  margin: 20px 12px;
}
html {
  scroll-behavior: smooth;
}
/* Login page , Sign Up page */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page,
.signup-page,
.Contact-page {
  width: 400px;
  padding: 20px 30px;
  border-radius: 4px;
  box-shadow: 4px 4px 2px rgb(106, 103, 103);
  background-color: white;
}
.login-page h2,
.signup-page h2,
.Contact-page h2 {
  margin-bottom: 8px;
  color: black;
  text-align: center;
}
.login-page form,
.signup-page form,
.Contact-page form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-page form *,
.signup-page form *,
.Contact-page form * {
  margin-top: 20px;
  width: 100%;
}
.login-page form input,
.signup-page form input,
.Contact-page form input,
.Contact-page form textarea {
  font-size: 16px;
  padding: 8px 4px;
  color: black;
}
.login-page form .link,
.signup-page form .link {
  padding: 6px 16px;
  font-size: 20px;
  background-color: rgb(55, 55, 254);
  border: 2px solid rgb(55, 55, 254);
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-align: center;
}
.login-page form p,
.signup-page form p {
  margin-top: 2px;
  color: slategray;
  font-size: medium;
}
.login-page form p a,
.signup-page form p a{
  color: blue;
}
.Contact-page button {
  background-color: red;
  width: fit-content;
  border: 2px solid red;
  font-size: 20px;
  font-weight: bold;
  padding: 3px 10px;
  border-radius: 4px;
}
.back {
  display: block;
  margin-top: 10px;
  width: fit-content;
  cursor: pointer;
  text-decoration: none;
  background-color: green;
  border: 2px solid green;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 10px;
  border-radius: 4px;
}
/* Home Page */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(13, 14, 32);
  padding: 16px 8px;
}
.nav-bar .pages {
  width: 40%;
}
.pages ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
}
.pages ul li a {
  text-decoration: none;
}
/* main section */
.hero-sec {
  width: 100vw;
  height: 80vh;
  background-image: url("./hero-sec.png");
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 70px;
}
.hero-sec h1 {
  font-size: 50px;
}
.hero-sec h3 {
  font-size: 40px;
}

.places,
.events {
  margin-top: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 10px;
  overflow-x: scroll;
}
.place-card,
.event-card {
  width: 350px;
  padding: 20px 12px;
  background-color: rgb(13, 14, 32);
  color: black;
  border-radius: 4px;
  flex-shrink: 0;
}
.place-card img,
.event-card img {
  width: 100%;
  height: 300px;
}
.place-card h2,
.event-card h2 {
  text-align: center;
}
.place-card *,
.event-card * {
  margin-bottom: 10px;
}
.place-card p,
.event-card p {
  font-size: 18px;
  color: slategray;
}

/* Footer */
footer {
  padding: 20px 8px;
  text-align: center;
  background-color: rgb(13, 14, 32);
}
footer h4 {
  font-size: 30px;
  margin-bottom: 4px;
}
footer p {
  color: slategray;
}
